/preinscription/__pycache__/*
/falshfsfse/__pycache__/*
/falshfsfse/migrations/__pycache__/*
/logement/__pycache__/*
/logement/migrations/__pycache__/*
/ecoledoctorale/__pycache__/*
/ecoledoctorale/migrations/__pycache__/*
/env/*
